@model t3hmun.WLog.Web.Model.BaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
</head>
<body>
    <nav>
        <span class="site-header">t3hmun</span>
        [
        <span class="menu-item">home</span>
        <span class="menu-delimiter"> | </span>
        <span class="menu-item">error</span>
        ]
    </nav>
@RenderBody()
</body>
</html>