@model t3hmun.WLog.Web.Model.BaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
</head>
<body>
    <nav>
        <span class="site-header">t3hmun</span>
        [
        @for(var i = 0; i< Model.Menu.Length; i++)
        {
            var menuItem = Model.Menu[i];    
            <span class="menu-item"><a asp-page="@menuItem.AspLink">@menuItem.Title</a></span>
            if(i != Model.Menu.Length -1) 
            {
                <span class="menu-delimiter"> | </span>
            }
        }
        ]
    </nav>
@RenderBody()
</body>
</html>