@model t3hmun.WebLog.Web.Models.BaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <environment include="Development">
        <link rel="stylesheet" href="~/gen/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/gen/site.min.css"/>
    </environment>

    <title>@Model.Title</title>
</head>
<body>
<nav class="site-nav">
    <span class="masthead">t3hmun</span>
    [
    @for (var i = 0; i < Model.Menu.Length; i++)
    {
        var menuItem = Model.Menu[i];
        if (menuItem.AspLink != null)
        {
            <span class="menu-item">
                <a asp-page="@menuItem.AspLink">@menuItem.Title</a>
            </span>
        }
        if (menuItem.Link != null)
        {
            <span class="menu-item">
                <a href="@menuItem.Link">@menuItem.Title</a>
            </span>
        }
        if (i != Model.Menu.Length - 1)
        {
            <span class="menu-delimiter"> | </span>
        }
    }
    ]
</nav>
<main>
    @RenderBody()
    
    <script src="~/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
</main>
</body>
</html>