@page
@model t3hmun.WebLog.Web.Pages.PlaygroundModel

<h1>Main Page header</h1>
Immediate text.

<h2>Section Header</h2>
Immediate text.

<h3>Subsection header</h3>
Immediate text.

<h4>Subsection Part</h4>
Immediate text.

<h5>Sub Part</h5>
Immediate text.

<h6>Detail</h6>
Immediate text.

<p>
    A paragraph of text that spans multiple rows rquires a fair bit of typing.
    Well not really, the next bit will be a code block.
</p>

<code class="language-csharp">
    public static void Potato {}
</code>