@page
@using System.Globalization
@model t3hmun.WebLog.Web.Pages.PostModel

@{
    var post = Model.Post;
}

@if (post.Errors != null)
{
    <h1>@post.Title</h1>
    <p>This post failed to render:</p>
    <pre>@post.Errors</pre>
}
else if (post.Exists)
{
    if (post.Html == null)
    {
        throw new NullReferenceException("post.Html is null, parser should not have allowed this.");
    }

    var headingFooter = $"<div class=\"heading-footer\">{post.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)}</div>";
    string finalBody;
    if (post.H1IsMissing)
    {
        var h1html = $"<h1>{post.Title}</h1>\n" + headingFooter;
        finalBody = h1html + post.Html;
    }
    else
    {
        var headerEnd = post.Html.IndexOf("</h1>", StringComparison.Ordinal) + 5;
        finalBody = post.Html.Insert(headerEnd, headingFooter);
    }
    @Html.Raw(finalBody)
    ;
}
else
{
    <p>Post `@Model.Post.Title` from @Model.Post.Date.ToString("dd MMMM yyyy") does not exist.</p>
}